body {
    background-color: darkcyan;
}

input {
    padding: 2px;
}

p, span {
    margin: 4px;
}

#cli {
    /* width: 960px; */
    /* margin-top: 64px; */
    /* padding: 8px; */
    background-color: #000;
    color: #0f0;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#console-area {
    height: auto;
    /* display: flex; */
    align-self: stretch;
}

#console-area textarea {
    height: 80vh;
}

#terminal {
    width: 100%;
    min-height: 360px;
    padding: 12px;
    background-color: #000;
    color: #0f0;
    border-style: none;
}

#terminal-top
{
    background-color: #333;
    padding: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


